.none {
  display: none; }

.underline {
  position: relative; }
  .underline::after {
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 50%;
    height: 50px;
    background: linear-gradient(90deg, #ffc0c0 0%, #b0d1ff 52%, #b9ffcd 100%) no-repeat;
    background-size: 100% 3px;
    background-position-y: bottom; }

.nav-bar {
  height: 75px;
  background: linear-gradient(90deg, #ffc0c0 0%, #b0d1ff 52%, #b9ffcd 100%) no-repeat;
  border-bottom: 0.5px solid white; }
  .nav-bar .row {
    height: 100%;
    display: flex;
    padding: 0 4rem; }
    .nav-bar .row .column {
      flex: 50%;
      justify-content: center; }
      .nav-bar .row .column .logo {
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        color: white;
        font-size: 3rem;
        font-weight: 600; }

.header {
  height: 100%;
  background: linear-gradient(90deg, #ffc0c0 0%, #b0d1ff 52%, #b9ffcd 100%) no-repeat;
  background-size: 100% 5px;
  background-position-y: bottom;
  margin: 3px 0 0 0; }
  .header .title {
    padding-top: 20px;
    font-size: 2rem;
    width: 100%;
    text-align: center; }
  .header .header-carousel {
    height: 100%;
    width: 100%;
    padding: 0 4rem;
    position: relative; }
    .header .header-carousel .header-carousel-container {
      height: 100%;
      display: flex;
      overflow-x: hidden; }
    .header .header-carousel .previous-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2rem;
      left: 1rem; }
    .header .header-carousel .next-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2rem;
      right: 1rem; }
  .header .carousel-item-container {
    height: 300px;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    flex: 0 0 auto;
    width: 25%;
    transition: all 2s ease; }
    .header .carousel-item-container > .item {
      height: 100%;
      width: 100%;
      padding: 15px 15px 15px 0; }

@media (max-width: 1024px) {
  .header .header-carousel {
    height: 100%;
    width: 100%;
    padding: 0 4rem;
    position: relative; }
    .header .header-carousel .header-carousel-container {
      height: 100%;
      display: flex;
      overflow-x: hidden; }
    .header .header-carousel .previous-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2rem;
      left: 1rem; }
    .header .header-carousel .next-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2rem;
      right: 1rem; }
  .header .carousel-item-container {
    height: 300px;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    flex: 0 0 auto;
    width: 33.3333333333%;
    transition: all 2s ease; }
    .header .carousel-item-container > .item {
      height: 100%;
      width: 100%;
      padding: 15px 15px 15px 0; } }
@media (max-width: 768px) {
  .header .header-carousel {
    height: 100%;
    width: 100%;
    padding: 0 4rem;
    position: relative; }
    .header .header-carousel .header-carousel-container {
      height: 100%;
      display: flex;
      overflow-x: hidden; }
    .header .header-carousel .previous-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2rem;
      left: 1rem; }
    .header .header-carousel .next-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2rem;
      right: 1rem; }
  .header .carousel-item-container {
    height: 250px;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    flex: 0 0 auto;
    width: 50%;
    transition: all 2s ease; }
    .header .carousel-item-container > .item {
      height: 100%;
      width: 100%;
      padding: 15px 15px 15px 0; } }
@media (max-width: 425px) {
  .header .header-carousel {
    height: 100%;
    width: 100%;
    padding: 0 4rem;
    position: relative; }
    .header .header-carousel .header-carousel-container {
      height: 100%;
      display: flex;
      overflow-x: hidden; }
    .header .header-carousel .previous-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2rem;
      left: 1rem; }
    .header .header-carousel .next-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2rem;
      right: 1rem; }
  .header .carousel-item-container {
    height: 300px;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    flex: 0 0 auto;
    width: 100%;
    transition: all 2s ease; }
    .header .carousel-item-container > .item {
      height: 100%;
      width: 100%;
      padding: 15px 15px 15px 0; } }
.card {
  height: 100%;
  box-shadow: 0 0 20px -10px black; }
  .card .card-main-side {
    height: 83.3333333333%;
    position: relative; }
    .card .card-main-side .background {
      height: 100%;
      position: relative; }
      .card .card-main-side .background .slider {
        height: 100%;
        display: flex;
        overflow-x: hidden; }
        .card .card-main-side .background .slider img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: all 1s ease; }
      .card .card-main-side .background .leftPart {
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0; }
        .card .card-main-side .background .leftPart > .Premium {
          color: white;
          font-size: 1.35rem;
          position: absolute;
          left: 5px;
          top: 5px; }
        .card .card-main-side .background .leftPart .sliderDots {
          width: 100%;
          position: absolute;
          bottom: 0;
          display: flex;
          justify-content: center;
          padding-bottom: 5px; }
          .card .card-main-side .background .leftPart .sliderDots .dot {
            cursor: pointer;
            margin: 0 2px;
            height: .75rem;
            width: .75rem;
            background-color: rgba(255, 255, 255, 0.25);
            border: 1px solid #292929;
            border-radius: 50%;
            display: inline-block; }
          .card .card-main-side .background .leftPart .sliderDots .activeDot {
            background-color: white; }
    .card .card-main-side .rightPart {
      position: absolute;
      top: 0;
      right: 0;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
      width: 16.6666666667%;
      height: 100%; }
      .card .card-main-side .rightPart .item {
        height: 33.3333333333%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        .card .card-main-side .rightPart .item > .icon {
          font-size: 1.25rem;
          text-align: center;
          color: white; }
        .card .card-main-side .rightPart .item > .value {
          font-size: .85rem;
          text-align: center;
          color: white; }
  .card .card-bottom-side {
    height: 16.6666666667%;
    display: flex;
    background-color: white; }
    .card .card-bottom-side .side {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center; }
    .card .card-bottom-side .icon {
      color: #292929;
      font-weight: bold;
      display: flex;
      justify-content: center; }
    .card .card-bottom-side .value {
      font-weight: 500; }

.main {
  background: linear-gradient(190deg, #ffc0c0 0%, #b0d1ff 52%, #b9ffcd 100%) no-repeat, linear-gradient(0deg, #ffc0c0 0%, #b0d1ff 52%, #b9ffcd 100%) no-repeat;
  background-position: left, right;
  padding: 20px 0;
  background-size: 5px 100%,  5px 100%; }
  .main .container {
    padding: 0 4rem; }
    .main .container .title {
      margin-bottom: 20px;
      font-size: 2rem;
      text-align: center; }

.categoryCard {
  box-shadow: 0rem 0rem 20px -15px;
  padding: 10px 0;
  border-radius: 10px;
  margin-bottom: 40px; }
  .categoryCard .titles {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .categoryCard .titles .categoryTitle {
      text-align: left;
      font-size: 1.5rem;
      padding: 10px 1rem; }
    .categoryCard .titles .extraTitle {
      padding: 10px 1rem;
      text-decoration: underline; }
  .categoryCard .categoryList {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    .categoryCard .categoryList > .item {
      height: 300px;
      width: 25%;
      padding: 10px; }

/*# sourceMappingURL=main.css.map */
